@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    font-family: 'Noto Sans', sans-serif;
    color: #2d2c38;
  }
}
* {
  box-sizing: border-box;
}
.db-34 {
  @apply font-bold text-[34px] -tracking-[1px];
}
.db-30 {
  @apply font-bold text-[30px] -tracking-[1px];
}
.db-24 {
  @apply font-bold text-[24px] -tracking-[1px];
}
.db-20 {
  @apply font-bold text-[20px] -tracking-[1px];
}
.db-18 {
  @apply font-bold text-[18px] -tracking-[1px];
}
.db-16 {
  @apply font-bold text-[16px] -tracking-[1px];
}
.db-14 {
  @apply font-bold text-[14px] -tracking-[1px];
}
.db-12 {
  @apply font-bold text-[12px] -tracking-[1px];
}
.dm-24 {
  @apply font-[500] text-[24px] -tracking-[1px];
}
.dm-20 {
  @apply font-[500] text-[20px] -tracking-[1px];
}
.dm-18 {
  @apply font-[500] text-[18px] -tracking-[1px];
}
.dm-16 {
  @apply font-[500] text-[16px] -tracking-[1px];
}
.dm-14 {
  @apply font-[500] text-[14px] -tracking-[1px];
}
.dmn-20 {
  @apply font-[500] text-[20px];
}
.dmn-16 {
  @apply font-[500] text-[16px];
}
.hover {
  @apply hover:opacity-60 transition cursor-pointer;
}
.p-block {
  @apply sm:px-[28px] sm:py-[26px] p-[18px];
}

::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  background-color: #eee;
}
::-webkit-scrollbar-thumb {
  background-color: #999;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}

.flat {
  border: 1px solid #2d2c38;
}
.shadow {
  border: 1px solid #2d2c38;
  box-shadow: 3px 3px 0px 0px #2d2c38;
}
.simple {
  border: 3px solid #a9c5e7;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.45);
}
.simple {
  box-shadow: 1px 1px 4px 0px rgba(12, 17, 26, 0.25);
}
.dark {
  background: #000;
  border: 3px solid #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.45);
}

.ant-tour {
  width: 350px;
}
